#head h1{
    display: inline;
    font-size: 72px;
    text-shadow: 2px 2px 5px  lime;
    color:rgb(252, 255, 55);
    border-style: solid;
    border-width: 10px;
    padding: 2vh;
    box-shadow: 0 0 30px 1px rgba(0, 255, 0, 0.486);
    border-color: rgb(252, 255, 55);
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}

#head{
    margin-top:20vh;
    padding-bottom: 10vh;
}

#upper_left {
    padding: 10px;
    color:blanchedalmond;
	position: absolute;
	top: 0;
	left: 0;
}
#upper_right {
    padding: 10px;
    color:blanchedalmond;
	position: absolute;
	top: 0;
	right: 0%;
}
#lower_left {
    padding: 10px;
    color:blanchedalmond;
	position: absolute;
	bottom: 0%;
	left: 0;
}
#lower_right {
    padding: 10px;
    color:blanchedalmond;
	bottom: 0%;
	right: 0%;
	position: absolute;
}